* {
    box-sizing: border-box;
    transition: all 0.5s ease-in-out 0s;
}

$main-color: #f0f0f0;
$secondary-color-1: #BE3144;
$secondary-color-2: #303841;
$code-color: #ff7f4e;
$background-color-for-project: #45567D;
$color-for-gradient-1: #3A3D40;
$color-for-gradient-2: #19181A;

@mixin raleway {
    font-family: 'Raleway', sans-serif;
}

@mixin poppins {
    font-family: 'Poppins', sans-serif;
}

@mixin flex-dcrn-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-dcrn-column {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;

    .wrapper {
        color: $main-color;
        width: 100%;
        @include flex-dcrn-column;
        justify-content: space-between;


        .header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: $secondary-color-1;
            box-shadow: 0 0 5px #000;

            .avatar-wrapper {
                width: 70px;
                height: 70px;
                position: absolute;
                transform: translate(100%, 20%);

                img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                .easter-egg {
                    opacity: 0;
                    background-color: #ffdbac;
                    width: 30vw;
                    height: 70%;
                    border-radius: 5px;
                    padding: 10px 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, 25%);

                    h2 {
                        @include poppins;
                        font-size: 19px;
                        color: #1f1f1f
                    }
                }

                &:hover {
                    img {
                        transform-origin: center;
                        transform: scale(-1, 1);
                    }

                    .easter-egg {
                        display: block;
                        opacity: 1;
                        transform: translate(50%, 25%);
                    }
                }
            }

            #navbar {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                height: 100%;
                margin-right: 20px;

                a {
                    height: 100%;
                    padding: 1.7em;
                    color: $main-color;
                    @include poppins;
                    font-size: 21px;
                    text-decoration: none;

                    &:hover {
                        background: rgb(41, 69, 129);
                    }
                }
            }
        }

        #welcome-section {
            margin-top: 9vh;
            width: 100%;
            height: 100vh;
            background: linear-gradient(45deg,
                    $color-for-gradient-1 0%,
                    $color-for-gradient-2 100%);
            @include flex-dcrn-column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1 {
                @include raleway;
                font-size: 58px;
                font-style: 700;
                margin-bottom: 2%;
            }

            h2 {
                @include poppins;
                font-size: 29px;
                color: $secondary-color-1;
                font-weight: 200;
                font-style: italic;
            }
        }

        #projects {
            background: $background-color-for-project;
            width: 100%;
            text-align: center;


            h2 {
                @include raleway;
                font-size: 2.5rem;
                text-align: center;
                border-bottom: 0.5px solid $main-color;
                margin: 10vh auto 5vh;
                line-height: 60px;
                max-width: 60%;

                @media screen and (max-width:545px) {
                    max-width: unset;
                    font-size: 2rem;
                }
            }

            .project-grid {
                width: 95%;
                margin: 0 auto 3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 5vh;

                .project-tile {
                    width: 100%;
                    @include flex-dcrn-column;

                    img {
                        width: 100%;
                        max-width: 100%;
                        height: 80%;
                        max-height: 100%;
                        object-fit: cover;
                    }

                    &>div {
                        width: 100%;
                        height: 20%;
                        background: $secondary-color-2;

                        a {
                            @include flex-dcrn-row;
                            justify-content: center;
                            align-items: center;
                            color: $main-color;
                            text-decoration: none;
                            @include poppins;
                            font-size: 19px;
                            font-weight: 400;
                            height: 100%;

                            &:hover::after {
                                content: "/>";
                                color: $code-color;
                            }

                            &:hover::before {
                                content: "<";
                                color: $code-color;
                            }
                        }
                    }
                }
            }

            .button-show-all {
                color: $main-color;
                @include poppins;
                font-size: 19px;
                font-weight: 400;
                display: inline-block;
                padding: 1rem 2rem;
                margin-bottom: 10vh;
                background: $secondary-color-2;
                text-decoration: none;

                &:hover {
                    background: $secondary-color-1;
                }
            }
        }

        #contacts {
            width: 100%;
            height: 80vh;
            @include flex-dcrn-column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: $secondary-color-2;

            h1 {
                @include raleway;
                font-weight: 700;
                font-size: 58px;
                margin-bottom: 3vh;
            }

            h2 {
                @include poppins;
                font-size: 17px;
                font-style: italic;
                font-weight: 400;
                margin-bottom: 8vh;
            }

            .contacts-container {
                @include flex-dcrn-row;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;
                @include poppins;
                font-weight: 400;
                font-size: 23px;

                a {
                    color: $main-color;
                    text-decoration: none;
                    text-shadow: 2px 2px 1px #1f1f1f;

                    i {
                        margin-right: 5px;
                    }

                    &:hover {
                        transform: translate(0, 1vw);
                        transition: all 0.5s ease-in-out 0;
                    }
                }
            }
        }

        footer {
            width: 100%;
            border-top: $secondary-color-1 5px solid;
            background: $secondary-color-2;
            height: 15vh;
            @include flex-dcrn-row;
            justify-content: space-evenly;
            align-items: center;

            h2,
            p {
                @include poppins;
                font-weight: 300;
                font-size: 17px;
                line-height: 24px;

                a {
                    text-decoration: none;
                    color: $main-color;
                    margin-right: 1vw;
                }
            }
        }
    }
}